<div class="container-fluid">
   <div class="row melcolor">
          <div class="col melcolor" >
              <div class="melcolor" id="who" style="width: 60rem;">
                  <div class="login-form" style="padding-top: 50px;">
                      <form action="/login" method="POST">
                        <div class="avatar">
                          </div>
                          <h2></h2>
                          <div class="form-group">
                            <input type="text" class="form-control" name="email" placeholder="Email" required="required">
                          </div>
                      <div class="form-group">
                              <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                          </div>        
                          <div class="form-group">
                              <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
                          </div>
                      </form>
                      <p class="text-center small">Don't have an account? <a href="/signup">Sign up here!</a></p>
                  </div>
              </div>
          </div>
        <div class="col melcolor">
        </div>
      </div>
    </div>