<div id="sentiment">
    <div class="sentiment_negative" role="progressbar" style="width: <%= @negative_sent %>%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"><strong>-</strong></div>
    <div class="sentiment_neutral" role="progressbar" style="width: <%= @neutral_sent %>%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"><strong>=</strong></div>
    <div class="sentiment_positive" role="progressbar" style="width: <%= @positive_sent %>%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><strong>+</strong></div>
</div>