<h2 class="text-center">Welcome to tap.me<h2>
  <br>
<p>Connect to those around you through authentic, feelings-based posts</p>
<p>Link up with people nearby for activities</p>
<br>
<h2>Why tap.me<h2>
  <br>
<p>Over 9 Million people experience loneliness in the UK. Research shows
  that loneliness and social isolation are harmful to our health;
  lacking social connections is a comparable risk factor for early death as smoking 15 cigarettes a day,
  and is worse for us than well-known risk factors such as obesity and physical inactivity.
  Loneliness increases the likelihood of mortality by 26%.</p>
<br>
<h2>How to use tap.me</h2><br>
<ul>
  <li>Make sure your browser location settings are on</li>
<li>View our map to see nearby posts categorised either as emotions or actions</li>
<li>Toggle posts to view either emotional or action-based messages</li>
<li>Create posts to connect with people around you through an activity or an emotion</li><br>
</ul>
<br>
<h2>Who built tap.me</h2>
Names - links?
