<body style="color: white">
  <h1 class="text-center display-4">Welcome to tap.me</h1>
    <br>
  <p class="text-center h2">Why tap.me?</p>
    <br>
    <br>
  <p class="text-center">Over 9 Million people experience loneliness in the UK. Research shows
    that loneliness and social isolation are harmful to our health;
    lacking social connections is a comparable risk factor for early death as smoking 15 cigarettes a day,
    and is worse for us than well-known risk factors such as obesity and physical inactivity.
    Loneliness increases the likelihood of mortality by 26%.</p>
    <br>
  <p class="text-center h2">How does tap.me work?</p>
    <br>
    <br>
    <div class="about-container">
      <div class="about-square">
        <span class="oi oi-location" style="font-size: 50px"></span>
        <p>Accept the browser location request</p>
      </div>
      <div class="about-square">
        <span class="oi oi-map" style="font-size: 50px"></span>
        <p>View all the nearby posts on a map</p>
      </div>
      <div class="about-square">
        <span class="oi oi-pencil" style="font-size: 50px"></span>
        <p>Create emotion or action based posts</p>
      </div>
      <div class="about-square">
        <span class="oi oi-person" style="font-size: 50px"></span>
        <p>Connect authentically with people nearby</p>
      </div>
    </div>
      <br>
      <br>
  <p class="text-center h2">The tap.me team</p>
    <br>
    <div class="text-container">
  <a class="text-center team-text" href="https://www.linkedin.com/in/jayda-kadir-73a27075/" target="_blank">Jayda</a>
  <a class="text-center team-text" href="https://www.linkedin.com/in/melanierogan/" target="_blank">Mel</a>
  <a class="text-center team-text" href="https://linkedin.com/in/ollieporter/" target="_blank">Ollie</a>
  <a class="text-center team-text" href="https://www.linkedin.com/in/manisha-patel-627699125/" target="_blank">Manisha</a>
    </div>
   <br>
</body>
