/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 @media (max-width: 110em) {
     body {
         font-size: 24px; /* 1.5x default size */
     }

    .post_time {
      font-size: 26px;
    }
    .post_username {
      font-size: 26px;
    }
    .post_choice {
      font-size: 26px;
    }
 }

 @media all and (max-width: 75em) { /* screen size until 1200px */
     body {
         font-size: 2.5em; /* 1.5x default size */
     }
     .login-form {
      width: 25vw;
      margin: 0 auto;
      // padding: 0 4vmax;
      }
    .login-form .btn {
      font-size: 1.5vmin;
    }
 }

 @media all and (max-width: 32em) { /* screen size until 500px */
     body {
         font-size: 1em; /* 0.8x default size */
         }
      .login-form {
         width: 75vw;
         margin: 0 auto;
         padding: 0 2vmax;
         }
      .login-form .btn {
        font-size: 1em;
        }
     }

 $tap_me_pink: #f56d74;
 $tap_me_pink_dark: #7A363A;
 $tap_me_grey: #dc6268;

body {
  background-color: #f56d74;
}

.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 90px;
  height: 46px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "🏃  🎭";
  display: block;
  position: absolute;
  z-index: 2;
  width: 38px;
  height: 38px;
  background: #fff;
  left: 4px;
  top: 4px;
  border-radius: 50%;
  font: 30px/38px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -32px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #dc6268;
}

.toggle:checked:before {
  left: 46px;
}

.form-control {
  min-height: 41px;
background: #fff;
box-shadow: none !important;
border-color: #e3e3e3;
}
.form-control:focus {
border-color: #ee8a8f;
}
.form-control, .btn {
  border-radius: 2px;
}

.login-form form {
  color: #7a7a7a;
  border-radius: 2px;
  margin-bottom: 15px;
  background: #ececec;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  position: relative;
}
.login-form h2 {
font-size: 22px;
  margin: 35px 0 25px;
}
.login-form .avatar {
position: absolute;
margin: 0 auto;
left: 0;
right: 0;
top: -50px;
width: 95px;
height: 95px;
border-radius: 50%;
z-index: 9;
background: #f56d74;
padding: 15px;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.login-form .avatar img {
width: 100%;
}
.login-form input[type="checkbox"] {
  margin-top: 2px;
}
.login-form .btn {
  font-weight: bold;
  background: #f56d74;
  border: none;
  margin-bottom: 20px;
  border-radius: 50px;
  display: block;
  width: 100%;
  text-decoration: none;
}
.login-form .btn:hover, .login-form .btn:focus {
background: #f56d74;
  outline: none !important;
  text-decoration: none;
}
.login-form a {
color: #fff;
text-decoration: underline;
border-radius: 50px;
width: 100%;
}
.login-form a:hover {
text-decoration: none;
}
.login-form form a {
color: white;
text-decoration: none;
}
.login-form form a:hover {
text-decoration: underline;
}

#container {
  width: 100px;
  height: 20px;
  position: relative;
  text-align: center;
}
#like {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
#like:checked {
  counter-increment: likes;
}
#button {
  display: block;
  width: 100%;
  height: 100%;
  background: green;
}
#like:checked ~ #button {
  background: blue;
}
#count:before {
  content: counter(likes);
}


.post_time {
  // position: absolute;
  // top: 1em;
  // right: 1em;
  font-weight: 200;
}

.post_choice {
  // position: absolute;
  // top: 1em;
  // left: 1em;
  font-weight: 200;
}

.post_username {
  text-align: center;
  // padding-top: 1em;
  // margin: 0 auto;
  // float: none;
}


.post_avatar {
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #c7c0c0;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
 }

  .btn-circle {
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  text-decoration: none
}

.btn-secondary {
  color: #f56d74;
  background: white;
  border: white;
}

.btn:hover {
  background-color: #dc6268 !important;
  text-decoration: none;
}
.btn:focus,
.btn.focus {
  background-color: #dc6268 !important;
  text-decoration: none;
}

#text-primary {
  color: #f56d74;
}

.pink-theme {
  color: $tap_me_pink;
}
.nav-link {
    color: $tap_me_pink;
    transition: color 0.4s ease;
}
.nav-link:hover{
    color: $tap_me_pink_dark;
    transition: color 0.4s ease;
}

/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: #7f7f7f;
  padding: 8px;
  font-size: 16px;
  border: none;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: $tap_me_pink;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
